@charset "utf-8";

html{
    font-size: 100%;
}
body{
    font-family: "Noto Sans", "Noto Sans JP";
    font-size: 1rem;
    color: #432;
}
a{
    text-decoration: none;
    color: #333333;
}
img{
    max-width: 100%;
}
li{
    list-style-type: none;
}
.wrapper{
    max-width: 1200px;
    margin:16px auto;
}

/* headerについて */
header{
    background-color: white;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
}
.site-title{
    display: block;
    font-size: 1.75rem;
    font-weight: normal;
    padding-left: 16px;
}
nav{
    background-color: #333333;
}
.main-nav{
    display: flex;
    justify-content: flex-start;
    font-size: 0.875rem;
    padding: 10px 0;
    margin-bottom: 0;
}
.main-nav li{
    margin-right: 40px;
}
.main-nav a{
    color: white;
    font-weight: normal;
}
.main-nav a:first-child{
    padding-left: 16px;
}

/* pickupについて */
.pickup{
    padding-top: 106px;
    display: flex;
    justify-content: space-between;
}
article{
    margin: 44px 12px 0 12px;
}
.pick-title{
    font-size:1rem;
    font-weight: bold;
}
.readmore{
    text-align: center;
    font-size: 0.875rem;
}
.readmore a{
    position: relative;
}
.readmore a::after{
    content: "";
    display:block;
    width: 85px;
    height: 1px;
    background-color: #333333;
    position:absolute;
    bottom: 0;
    left: 0;
}
/* main-areaについて */
/* main-contentsについて */
.main-area{
    display: flex;
}
.main-contents{
    width: 67%;
    margin-right: 50px;
}
.main-contents article{
    margin-top: 70px;
}
.content-title{
    font-size: 1.5rem;
    font-weight: bold;
}

/* asideについて */
aside{
    width: 30%; 
    margin-top: 70px ;
}
.author{
    width: 130px;
    height: 130px;
    object-fit: cover;
    border-radius: 50%;
    display: block;
    margin:0 auto 30px;
}
aside h3{
    text-align: center;
    font-weight: bold;
    font-size: 1.125rem;
}
aside p{
    font-size: 0.875rem;
}
.ranking, .archive{
    margin-top: 60px;
}
.arc-title{
    margin-bottom: 30px;
}
.archive ul{
    border-bottom: 1px #777777 solid;
}
.archive li{
    border-top: 1px #777777 solid;
    padding:20px;
    list-style-position: inside;
    text-align: left;
}
/* footerについて */
footer{
    background-color: #F7F7F7;
}
.content{
    display: flex;
    justify-content: space-between;
}
.item{
    width: 30%;
}
.footer-title{
    font-size: 1.125rem;
}
.item p, li{
    font-size: 0.875rem;
}
.item ul{
    padding-left: 0;
}
.link li{
    position: relative;
    padding: 0em 0.3em 0.3em 1.3em;
}
.link li:before{
    position:absolute;
    content:'';
	top: 0.4em;
	left: 0.2em;
	height:0;
	width:0;
	border-style: solid;
	border-width: 6px 0 6px 9px;
	border-color: transparent transparent transparent #333333;
}
.menu .footer-title{
    border-bottom: 1px #777777 solid;
    padding-bottom: 30px;
}
.menu li{
    border-bottom: 1px #777777 solid;
    padding:15px 0 15px 15px;
    list-style-position: inside;
}
.menu li:first-child{
    padding-top:0;
}
footer p{
    text-align: center;
}

/* レスポンシブ対応 */
@media(max-width: 767px){
    .wrapper{
        margin:0 16px;
    }
    .site-title{
        margin: 20px auto 20px 20px;
    }
    .main-nav{
        display: flex;
        justify-content:flex-start;
        font-size: 0.875rem;
        padding: 10px 0;
    }
    .pickup{
        display: flex;
        flex-flow: column;
    }
    .main-area{
        display: flex;
        flex-flow: column;
    }
    .main-contents{
        width: 100%;
    }
    .main-contents p{
        text-align: center; 
        width: 90%;
        margin: 10px auto 30px;
    }
    aside{
        width: 100%;
    }
    .rank p{
        margin-top:0 ;
        margin-bottom: 30px;
    }
    .archive{
        margin-bottom: 120px;
    }
    .content{
        display: flex;
        flex-flow: column;
    }
    .item{
        width: 100%;
        margin-top: 50px;
    } 
    .item p{
        text-align: left;
    }

}
